html {
    font-size: 13px;
    line-height: 1.5;
    height: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: helvetica,arial,verdana,sans-serif;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    margin: 0;
}

div {
    display: block;
}

#header {
    background: #b08b57!important;
    width: 100%;
    height: 146px;
}

header[role=banner]{
overflow: visible;
word-wrap: break-word;
}

.clearfix {
    zoom:1;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


#header-container{
    color: #fff;
    padding: 0;
}

#header-container{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    height: 146px;
}

.at-panel{
    float: left;
}

.region {
    float: left;
    clear: none;
    position: relative;
}

.region-header-second {
    width: 100%;
    margin-left: 0;
    margin-right: 360px;
    padding-top: 0;
}

.region-header-first {
    margin-left: -200px;
}

.gpanel{
    float: left;
    clear: none;
    position: relative;
}

.region-inner {
    margin-left: 0;
    margin-right: 360px;
    padding-top: 15px;
}

.site-info {
    padding-top: 0;
}

.block-boxes-os_boxes_site_info {
    min-height: 135px;
    display:  table;
    vertical-align: middle;
}

.block-inner {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

#boxes-box-site_info{
    color: #fff;
    line-height: 1.2;
}

#boxes-box-site_info, #boxes-box-site_info a {
    color: #fff;
    text-decoration: none;
}

.boxes-box-content{
font-family: 'Source Sans Pro', sans-serif, Georgia, serif !important;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding-top: 16px;
}

