#branding_header {   
    background:  #153d6f /*#f8f8f8*/!important;
    color: #ece7e7;
    font-weight: bold;
}

#branding_header a:hover {
    color: #8996A0;
}

#branding_header a {
    color:  #fff !important;
    text-decoration:none;
}

.branding-container{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    height: 38px;
    line-height: 45px;
}

.branding-left {
    float: left;
    margin:0;
    position: relative;
    z-index: 1;
    padding-top: 3px;
    background: #f1eaea;
    line-height: 14px;
    padding-bottom: 5px;
    padding-top: 3px;
    border-radius: 5px;
}

.branding-left:hover {
   background: #B79A64 !important;
}

/*@media (max-width: 1000px) {
    .branding-left {
        margin:10px 0 0 0;
    }
}*/

.branding-right {
    float: right;
    line-height: 38px;
    margin: 0;
    text-transform: uppercase;
   /* background: #f1eaea;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;*/
}

.branding-right:hover {
    background: #B79A64 !important;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
   
    
 }

 .text:hover{
    color: #000073!important;
    text-decoration: none;
 }

.clearfix {
    zoom:1;}

html {
        font-size: 13px;
        line-height: 1.5;
        height: 100%;
        overflow-y: scroll;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    body {
        font-family: helvetica,arial,verdana,sans-serif;
        min-height: 100%;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        margin: 0;
    }

    #page {
        background: #F3F3F1;
    }