#branding_header {   
    background: #1e1e1e;
    color: #FFF;
    font-weight: bold;
}

#branding_header a:hover {
    color: #8996A0;
}

#branding_header a {
    color: #FFF;
    text-decoration: underline;
}

.branding-container{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    height: 38px;
    line-height: 45px;
}

.branding-left {
    float: left;
    margin: 0;
    position: relative;
    z-index: 1;
}

@media (max-width: 1000px) {
    .branding-left {
        margin:10px 0 0 0;
    }
}

.branding-right {
    float: right;
    line-height: 38px;
    margin: 0;
    text-transform: uppercase;
}

.clearfix {
    zoom:1;}

    html {
        font-size: 13px;
        line-height: 1.5;
        height: 100%;
        overflow-y: scroll;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    body {
        font-family: helvetica,arial,verdana,sans-serif;
        min-height: 100%;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        margin: 0;
    }